---

---

<div
  class="dark text-muted text-sm bg-secondary dark:border-b dark:border-slate-800 dark:text-slate-400 md:flex gap-1 overflow-hidden px-3 py-2 relative text-ellipsis whitespace-nowrap"
>
  <span class="bg-primary dark:text-slate-100 font-semibold px-1 py-0.5 text-xs mr-0.5 rtl:mr-0 rtl:ml-0.5 inline-block"
    >AKCIJA</span
  >
  <a href="/bezmaksas" class="text-muted hover:underline dark:text-slate-300 font-medium"
    >Iegūsti mājaslapu pilnīgi bez maksas! »</a
  >
</div>
