---
import Layout from '~/layouts/PageLayout.astro';
import HeroText from '~/components/widgets/HeroText.astro';
import ContactUs from '~/components/widgets/Contact.astro';

const metadata = {
  title: 'Contact',
};
---

<Layout metadata={metadata}>
  <!-- HeroText Widget ******************* -->

  <HeroText
    tagline="Kontakti"
    title="Sazinies ar mani!"
    subtitle=`Ja tev ir radušies jebkādi jautājumi vai vēlies, lai izveidoju mājaslapu, izmanto zemāk esošo kontaktformu, raksti uz e-pastu <a class="underline font-semibold" href="mailto:armands@labojam.lv">armands@labojam.lv</a> vai zvani <a href="tel:+37125226526" class="underline font-semibold">+371 25226526</a>. Varī arī sekot man Threads platformā: <a href="https://www.threads.net/@armandslei" class="underline font-semibold">@armandslei</a>.`
  />

  <ContactUs
    id="form"
    inputs={[
      {
        type: 'text',
        name: 'name',
        label: 'Vārds',
      },
      {
        type: 'email',
        name: 'email',
        label: 'E-pasts',
      },
    ]}
    textarea={{
      label: 'Ziņa',
    }}
    disclaimer={{
      label: 'Nosūtot šo ziņu, piekrītu savu datu apstrādei, ko veiks SIA "Sociālais kods".',
    }}
    description="Es parasti atbildu vienas darba dienas laikā."
  />
</Layout>
