---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Note from '~/components/widgets/Note.astro';
import Features from '~/components/widgets/Features.astro';
import Steps from '~/components/widgets/Steps.astro';
import Content from '~/components/widgets/Content.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import Testimonials from '~/components/widgets/Testimonials.astro';

const metadata = {
  title: 'tru un 캡rtu m캐jaslapu izveide',
  ignoreTitleTemplate: true,
};

import iveta from '~/assets/images/iveta.webp';
import raimonds from '~/assets/images/raimonds.webp';
import ivars from '~/assets/images/ivars.webp';
import armands from '~/assets/images/armands.webp';
import Pricing from '~/components/widgets/Pricing.astro';
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->
  <div id="termynal" data-termynal data-ty-typeDelay="20" data-ty-lineDelay="300">
    <span data-ty="input">Izveido man m캐jaslapu</span>
    <span data-ty="progress"></span>
    <span data-ty>M캐jaslapa izveidota! 游</span>
  </div>
  <Hero
    actions={[
      {
        variant: 'primary',
        text: 'Uzzin캐t vair캐k',
        href: '#features',
        target: '',
      },
      { text: 'Cenas', href: '/#pricing' },
    ]}
  >
    <Fragment slot="title">
      tru un 캡rtu
      <span class="text-accent highlight">statisko</span> m캐jaslapu izveide
    </Fragment>

    <Fragment slot="subtitle">
      Es izstr캐d캐ju dro코as m캐jaslapas, kas darbojas ziben캶gi un ir viegli administr캡jamas.
    </Fragment>
  </Hero>

  <!-- Note Widget ******************* -->

  <Note />

  <!-- Features Widget *************** -->

  <Features
    id="features"
    tagline="Priek코roc캶bas"
    title="Kas ir statisk캐s m캐jaslapas?"
    subtitle="Statiska m캐jaslapa ir t캶mek컆a vietne, kuras saturs tiek glab캐ts un pieg캐d캐ts lietot캐jam tie코i t캐d캐 form캐, k캐d캐 tas ir saglab캐ts server캶, bez datub캐쬿 izmanto코anas."
    items={[
      {
        title: 'Uzlabota dro코캶ba',
        description:
          'T캐 k캐 nav servera puses skriptu vai datub캐zes, statisk캐s m캐jaslapas ir <strong>dro코as un teju neuzlau쬬mas.</strong>',
        icon: 'tabler:shield-lock',
      },
      {
        title: 'Lielisks 캐trums',
        description:
          'T캐 k캐 nav nepiecie코ama servera puses apstr캐de vai datub캐zes piepras캶jumi, statisk캐s m캐jaslapas <strong>iel캐d캡jas daudz 캐tr캐k</strong> nek캐 dinamisk캐s.',
        icon: 'tabler:rocket',
      },
      {
        title: 'Vienk캐r코a uztur캡코ana',
        description:
          'T캐 k캐 nav sare쮃캶tu servera puses tehnolo캮iju, uztur캡코ana ir 컆oti vienk캐r코a un <strong>bez maksas</strong>.',
        icon: 'tabler:server-spark',
      },
      {
        title: 'Ieb콞v캡ta administr캐cija',
        description: 'Lap캐 iesp캡jams saturu papildin캐t pa코a sp캡kiem, bez programm캡코anas priek코zin캐코an캐m.',
        icon: 'tabler:pencil',
      },
    ]}
  />

  <!-- Testimonials Widget *********** -->

  <Testimonials
    title="Klientu atsauksmes"
    id="reviews"
    subtitle="Str캐d캐ju r콞p캶gi un ar 仇벒잺, ko apliecina mani klienti."
    testimonials={[
      {
        testimonial: `<p>Man bija tas gods sadarboties ar Armandu un vi켽a komandu biedr캶bas "Debesmanna" m캐jaslapas izveido코an캐. Es teik코u atkl캐ti, zin캐ju, ka ir nepiecie코ama jauna m캐jaslapa, bet nezin캐ju, ko 캶sti v캡los.</p>
         <p>Ar Armandu tik캐mies regul캐ri, vi켽코 uzklaus캶ja v캡lmes, idejas un dal캶j캐s ar캶 sav캐 pieredz캡 par to, k캐 b콞tu lab캐k, 캡rt캐k un lietot캐jiem draudz캶g캐k m캐jaslapu izmantot.</p>
         <p>Man ir patiess prieks, ka Armands atsauc캐s manam l콞gumam un zinu, ka nevaru v캡l캡ties lab캐ku komandu. Es tiku saredz캡ta un sadzird캡ta, kas man ir svar캶gi.</p>
         <p>Liels paldies Armandam un vi켽a komandai par lielisko darbu, un no sirds v캡los ieteikt ar캶 jums, ja ir nepiecie코ama jauna vai uzlabota m캐jaslapa.</p>`,
        name: 'Iveta Parravani',
        job: 'Biedr캶ba "Debesmanna"',
        image: {
          src: iveta,
          alt: 'Iveta Parravani',
        },
      },
      {
        testimonial: `<p>Armands Leimanis ir super캶gs web programm캡t캐js, kas pirms k캐da laika ir izveidojis savu web programm캐코anas firmi켽u. Sadarbojoties ar Armandu, man nav ne캡rti uzdot d캶vainus jaut캐jumus saist캶b캐 ar weblapu programm캡코anu, jo es zinu, ka vi켽코 ar visdzi컆캐ko sapratni man visu izskaidros "cilv캡ku" valod캐.</p>
        <p>Pie Armanda var griezties ne tikai lapu vai aplik캐ciju programm캡코an캐 no nulles, bet ar캶 gad캶jumos, kad ir j캐salabo vai j캐papildina eso코ais risin캐jums. Dro코i zvaniet, rakstiet, trauc캡jiet vi켽u! Silti iesaku un rekomend캡ju.</p>`,
        name: 'Raimonds Platacis',
        job: 'Nonull캡코an캐s',
        image: {
          src: raimonds,
          alt: 'Raimonds Platacis',
        },
      },
      {
        testimonial: `<p>Sadarb캶bu ar Armandu uzs캐k캐m p캐ris gadus atpaka컆 un pa 코o laiku ir realiz캡ti vair캐ki projekti. Armands pieiet katram projektam lo캮iski un racion캐li, izv캡rt캡jot pl캐noto arhitekt콞ru un pielietojamos instrumentus.</p>
        <p>Tehniskie risin캐jumi tiek izdar캶ti prec캶zi k캐 run캐ts, tai pat laik캐 vienm캡r var sagaid캶t ieteikumus no pieredzes, kas 컆oti noder veiksm캶gai projekta att캶st캶bai.</p>`,
        name: 'Ivars Miro코nikovs',
        job: 'VIVID TECH',
        image: {
          src: ivars,
          alt: 'Ivars Miro코nikovs',
        },
      },
      // {
      //   testimonial: `tra un efekt캶va pal캶dz캶ba IT jaut캐jumos. Profesion캐li un nestandarta risin캐jumi. Attieksme ir 컆oti pretimn캐ko코a.`,
      //   name: 'Raivo Kloti켽코',
      //   job: 'Zv캡rin캐ts advok캐ts',
      //   image: {
      //     src: raivo,
      //     alt: 'Raivo Kloti켽코 Image',
      //   },
      // },
    ]}
  />

  <Pricing
    title="Saprotamas cenas"
    id="pricing"
    prices={[
      {
        title: 'M캐jaslapas izveide',
        subtitle: 'Individu캐li izstr캐d캐ta statisk캐 m캐jaslapa',
        price: '1500',
        period: 'Vienreiz캡js maks캐jums',
        callToAction: {
          target: '',
          text: 'Sazin캐ties',
          href: '/contact',
        },
      },
      {
        title: 'M캐jaslapa bez maksas',
        subtitle: 'Nemaks캐 par m캐jaslapas izveidi!',
        price: '0',
        period: 'Iek컆auta ar캶 bezmaksas uztur캡코ana',
        callToAction: {
          target: '',
          text: 'Uzzin캐t vair캐k',
          href: '/bezmaksas',
        },
        hasRibbon: true,
        ribbonTitle: 'akcija',
      },
    ]}
  />

  <!-- Content Widget **************** -->

  <Content
    isReversed
    tagline="Par mani"
    title="Programm캡t캐js ar entuziasmu"
    id="about"
    items={[
      {
        title: 'Vair캐k nek캐 8 gadu pieredze',
        description:
          'Programm캡t s캐ku pirms vair캐k nek캐 8 gadiem digit캐laj캐 a캮ent콞r캐 un kop코 t캐 laika esmu str캐d캐jis pie vair캐k nek캐 50 projektiem.',
      },
      {
        title: 'Darbs k캐 aizrau코an캐s',
        description: 'Programm캡코ana un tehnolo캮ijas ir ne tikai mans darbs, bet ar캶 mana sirdslieta un hobijs.',
      },
      {
        title: 'Neform캐la, draudz캶ga pieeja',
        description: 'Esmu atv캡rts un vienm캡r gatavs uzklaus캶t visas klientu v캡lmes un ar mani ir viegli sastr캐d캐ties.',
      },
    ]}
    image={{
      src: armands,
      alt: 'Armands Leimanis',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Darbu daru ar prieku 游땕</h3>
      Programm캡코anu esmu apguvis pa코m캐c캶bas ce컆캐 un katru dienu turpinu papildin캐t savas zin캐코anas. Mani interesent캡 jaun캐k캐s
      tehnolo캮ijas un modern캐kie risin캐jumi.
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Steps Widget ****************** -->

  <Steps
    title="M캐jaslapas izveides process"
    items={[
      {
        title: 'Sazinies <span class="font-medium">ar mani</span>',
        description: 'Izmanto kontaktformu, zvani vai raksti uz e-pastu. Es parasti atbildu taj캐 pa코캐 darba dien캐.',
        icon: 'tabler:send',
      },
      {
        title: 'Vienosimies <span class="font-medium">par pras캶b캐m</span>',
        description: 'Izrun캐sim visu, kas nepiecie코ams m캐jaslapai un es pied캐v캐코u lab캐kos risin캐jumus.',
        icon: 'tabler:message',
      },
      {
        title: 'Izveido코u <span class="font-medium">statisko m캐jaslapu</span>',
        description:
          'Statisko m캐jaslapu izveide neaiz켽em ilgu laiku - t캐 b콞s gatava jau p캐ris ned캡컆u laik캐 vai pat 캐tr캐k.',
        icon: 'tabler:code-dots',
      },
      {
        title: 'Tas ar캶 viss! 游꿀',
        icon: 'tabler:check',
      },
    ]}
  />

  <!-- HighlightedPosts Widget ******* -->

  <BlogLatestPosts
    title="Ieskaties man캐 blog캐"
    information={`Rakstu par tehnolo캮ij캐m un projektiem, kas mani interes캡.`}
  />

  <!-- FAQs Widget ******************* -->

  <FAQs
    title="Bie쮃k uzdotie jaut캐jumi"
    classes={{ container: 'max-w-6xl' }}
    id="faq"
    items={[
      {
        title: 'K캐p캡c tie코i statisk캐s lapas?',
        description:
          'Sav캐 karjer캐 esmu str캐d캐jis ar daudz un da쮃d캐m tehnolo캮ij캐m, satura vad캶bas sist캡m캐m un aplik캐cij캐m, ta캜u statisk캐s lapas, manupr캐t, ir lielisks un moderns risin캐jums. T캐s ir 캐tras, teju neuzlau쬬mas un lieliski kot캡jas mekl캡코anas rezult캐tos.',
      },
      {
        title: 'Vai iesp캡jams izveidot e-komercijas vietni?',
        description:
          'J캐! Ir iesp캡jams izmantot Snipcart r캶ku, kas 컆auj iesp캡jot interneta veikalu ar캶 statisk캐 m캐jaslap캐. Produktu pievieno코ana notiek pa코캐 vietn캡, kam캡r Snipcart nodro코ina dro코us maks캐jumus un kataloga uztur캡코anu.',
      },
      {
        title: 'K캐das tehnolo캮ijas izmanto m캐jaslapu izveidei?',
        description:
          '맖br캶d izmantoju Astro, Tailwind, Mattrbld, Decap CMS, Github, Netlify un Cloudflare, bet vienm캡r esmu k캐 jauna mekl캡jumos.',
      },
      {
        title: 'Cik maks캐 statisk캐s m캐jaslapas tehnisk캐 uztur캡코ana?',
        description:
          'T캐 ir piln캶gi bez maksas, ja izmanto k캐du no glob캐lajiem hostinga pakalpojumu sniedz캡jiem, k캐 piem캡ram Netlify, Cloudflare vai Vercel.',
      },
    ]}
  />

  <!-- CallToAction Widget *********** -->

  <CallToAction
    actions={[
      {
        variant: 'primary',
        text: 'Sazin캐ties',
        href: '/contact',
      },
    ]}
  >
    <Fragment slot="title">Nepiecie코ama m캐jaslapa?</Fragment>

    <Fragment slot="subtitle">Sazinies ar mani jau 코odien!</Fragment>
  </CallToAction>
</Layout>

<style>
  :root {
    --color-bg: #252a33;
    --color-text: #eee;
    --color-text-subtle: #a2a2a2;
  }

  [data-termynal] {
    width: 95vw;
    max-width: 340px;
    margin: 0 auto;
    background: var(--color-bg);
    color: var(--color-text);
    font-size: 16px;
    font-family: 'Fira Mono', Consolas, Menlo, Monaco, 'Courier New', Courier, monospace;
    border-radius: 10px;
    padding: 50px 25px;
    position: relative;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }

  [data-termynal]:before {
    content: '';
    position: absolute;
    top: 15px;
    left: 15px;
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    /* A little hack to display the window buttons in one pseudo element. */
    background: #d9515d;
    -webkit-box-shadow:
      25px 0 0 #f4c025,
      50px 0 0 #3ec930;
    box-shadow:
      25px 0 0 #f4c025,
      50px 0 0 #3ec930;
  }

  [data-ty] {
    display: block;
    line-height: 2;
  }

  [data-ty]:before {
    /* Set up defaults and ensure empty lines are displayed. */
    content: '';
    display: inline-block;
    vertical-align: middle;
  }

  [data-ty='input']:before,
  [data-ty-prompt]:before {
    margin-right: 0.75em;
    color: var(--color-text-subtle);
  }

  [data-ty='input']:before {
    content: '>';
  }

  [data-ty][data-ty-prompt]:before {
    content: attr(data-ty-prompt);
  }

  [data-ty-cursor]:after {
    content: attr(data-ty-cursor);
    font-family: monospace;
    margin-left: 0.5em;
    -webkit-animation: blink 1s infinite;
    animation: blink 1s infinite;
  }

  /* Cursor animation */

  @-webkit-keyframes blink {
    50% {
      opacity: 0;
    }
  }

  @keyframes blink {
    50% {
      opacity: 0;
    }
  }
</style>
